
@media screen and (max-width: 1314px) {
 
    /* .navbar {
        flex-direction: column;
    }
    .navbar .button {
        margin-left: auto;
        padding: 0;
    }
    .welcome {
       
    } */

}