@media screen and (max-width: 1016px) {
    .intro {
        flex-direction: column;
    }
    .profile {
        margin: 40px;
    }
}

@media screen and (max-width: 976px) {
    body{
        background-image: none;
    }
}

@media screen and (max-width: 831px) {
    .clients{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
    .services{
        flex-direction: column;
    }
    .nav-items{
        display: none;
    }
}

/* @media screen and (max-width: 1314px) {} */