:root {
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    height: 150px;
    width: 200px;
    top: 40px;
    left: 20px;
    height: 1.5rem;
    width: 2rem;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #19194b;
}

#welcome-text {
    font-size: 50px;
    text-shadow: 0 0 3px #857595, 0 0 5px #181851;
}

.welcome {
    padding-top: 100px;
}

.text {
    color: var(--white);
    text-align: center;
    text-shadow: 0 0 3px #857595, 0 0 5px #000000;
}

.lorem {
    color: rgb(255, 255, 255);
}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 15px;
}

.navbar li a {
    text-decoration: none;
    color: var(--white);
}

.navbar li:not(:last-child) {
    border-right: 1px solid var(--white);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0px 25px;
    /* border-bottom: 0.5px solid var(--white); */
    margin-top: 40px;
}

.button {
    position: absolute;
    right: 20px;
    margin-top: 30px;
    padding: 10px 10px;
    border: 2px solid rgb(22, 22, 40);
    border-radius: 5px;
}
.nav {
    display: flex;
    justify-content: center;
}
.button:hover {
    background-color: rgb(15, 15, 49);
    color: white;
    cursor: pointer;
}

.profile {
    height: 200px;
    width: 200px;
    /* display: inline-block; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}

.intro {
    display: flex;
    padding-top: 20px;
    align-items: center;
    /* border: 2px solid white; */
    /* border-right: 2px solid blue;
    border-bottom: 2px solid blue; */
    padding-left: 50px;
    padding-right: 50px;
    /* border-image: url(border.jpg); */
    /* text-shadow: 0 0 3px #ffffff, 0 0 5px #000000; */
}

.quote {
    color: white;
    text-align: center;
    margin-top: 20rem;
    text-shadow: 0 0 3px #857595, 0 0 5px #181851;
    padding-bottom: 60px;
    border-bottom: 0.5px solid var(--white);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(11, 10, 15));
    padding-top: 60px;
}

.services {
    padding: 50px;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    padding-bottom: 50px;
    text-align: center;
    border-bottom: 0.5px solid white;
}

h3 {
    text-align: center;
    font-size: x-large;
}

.box {
    border: 2px solid rgb(9, 9, 47);
    /* border-right: 2px solid rgb(9, 9, 47);
    border-bottom: 2px solid rgb(9, 9, 47); */
    box-shadow: 10px 10px 5px rgb(25, 25, 29);
    padding: 5px;
    margin-right: 20px;
    background-color: lightblue;
    border-radius: 15px;
    opacity: 0.5;
    margin-bottom: 25px;
}

.clients {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/* .client-item {
    padding-right: 50px;
    padding-left: 50px;
} */

.client-img {
    height: 50px;
    width: 50px;
}

.client-bg {
    background-image: linear-gradient(to bottom right, rgb(36, 32, 108), rgb(10, 8, 49));
    padding: 50px;
}